@import "tailwindcss";


@theme  {


     --color-custom-gray: '#F5F7FA',
     --color-custom-orange: '#F4A261',
     --color-custom-green: '#2ECC71',
     --color-custom-red: '#E74C3C',
     --color-neutral-500:'#B1B5C3';
     --color-neutral-600:'#E6E8EC';


}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins',sans-serif;
}
